.header{
    transition: all .2s ease-in-out;
    width: 400px;
}
.header:hover {
    transform: scale(1.2);
    width: 400px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
}

.buttons{
    background-color: rgba(188, 144, 229, 0.434);
    border-radius: 10px;
    border-style: black;
    border-style: solid;
    width: 200px;
    height: 50px;
    margin-bottom: 60px;
    font-size: larger;
    
}

#bt-1{
    margin-top: 100px;
}



